[Unit]
Description=Network Namespace for Transmission
PartOf=torrent.target
#Before=wg-transmission.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ip netns add torrentns
ExecStart=/usr/bin/ip link add name torrent0 type veth peer name host0
ExecStart=/usr/bin/ip link set dev host0 netns torrentns
ExecStart=/usr/bin/ip addr add 172.16.16.1/24 dev torrent0
ExecStart=/usr/bin/ip link set dev torrent0 up
ExecStart=/usr/bin/ip --netns torrentns link set lo up
ExecStart=/usr/bin/ip --netns torrentns addr add 172.16.16.2/24 dev host0
ExecStart=/usr/bin/ip --netns torrentns link set dev host0 up

ExecStop=/usr/bin/ip --netns torrentns link del dev host0
ExecStop=/usr/bin/ip link del dev torrent0
ExecStop=/usr/bin/ip netns del torrentns

[Install]
WantedBy=torrent.target
