[Unit]
Description=transmission-daemon in torrent namespace
PartOf=torrent.target
After=torrent-wireguard.service
Requires=torrent-namespace.service torrent-dnsmasq.service torrent-wireguard.service
Wants=torrent-namespace.service torrent-dnsmasq.service torrent-wireguard.service

[Service]
Type=simple
User=transmission
Group=transmission
NetworkNamespacePath=/var/run/netns/torrentns
ExecStart=/usr/bin/transmission-daemon --foreground ---config-dir /etc/transmission/daemon --allowed 172.16.16.* -C --encryption-preferred --rpc-bind-address 172.16.16.2 --port 9091 --no-auth --log-info
Restart=on-failure

[Install]
WantedBy=torrent.target
