[Unit]
Description=torrent network namespace teardown

[Service]
Type=oneshot
RemainAfterExit=no
IgnoreExitFailure=true
EnvironmentFile=/etc/systemd/system/torrent.env
ExecStart=/usr/bin/ip --netns ${NET_NS_NAME} link del dev ${WG_IFACE}
ExecStart=/usr/bin/ip --netns ${NET_NS_NAME} link del dev ${NS_IFACE}
ExecStart=/usr/bin/ip link del dev ${HOST_IFACE}
ExecStart=/usr/bin/ip netns del ${NET_NS_NAME}
