[Unit]
Description=DNS inside Network Namespace for Torrent
PartOf=torrent.target
Requires=torrent-namespace.service
Wants=torrent-namespace.service
After=torrent-namespace.service

[Service]
Type=simple
NetworkNamespacePath=/var/run/netns/torrentns
ExecStart=/usr/bin/dnsmasq --keep-in-foreground --bind-interfaces --interface=lo --listen-address=127.0.0.1 --server=10.2.0.1 --port=53

[Install]
WantedBy=torrent.target
