[Unit]
Description=transmission-daemon in torrent namespace
PartOf=torrent.target
After=torrent-wireguard.service
Requires=torrent-namespace.service torrent-dnsmasq.service torrent-wireguard.service
Wants=torrent-namespace.service torrent-dnsmasq.service torrent-wireguard.service

[Service]
Type=simple
User=transmission
Group=transmission
EnvironmentFile=/etc/systemd/system/torrent.env
NetworkNamespacePath=/var/run/netns/${NET_NS_NAME}
ExecStart=/usr/bin/transmission-daemon --foreground --config-dir ${TRANSMISSION_CONF_DIR} --allowed ${HOST_IP} -C --encryption-preferred --rpc-bind-address ${NS_IP} --port 9091 --no-auth --log-info --no-incomplete-dir
Restart=on-failure

[Install]
WantedBy=torrent.target
